<!DOCTYPE html>
<html 
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>	
	<section class="jumbotron text-center" layout:fragment="corpo">
		<div class="container-fluid"> 
	        <div class="container" id="cadastro">
	        	<div th:replace="fragments/alert"></div>
	            <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="POST"> 	  
                    <div class="form-labelgroup col-md-6">
                        <label for="nome">Username</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome Usuario"
                         autofocus="autofocus" th:field="*{username}"/>
                    </div>
                	<div class="form-group col-md-6">
                        <label for="nome">Senha</label>
                        <input type="text" class="form-control" id="nome" placeholder="Senha"
                         autofocus="autofocus" th:field="*{senha}"/>
                    </div>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
  		</div>
    </section>
</body>
</html>		